	
	body{
			margin: 0px;
			padding: 0px;
			
	}

	div.logotipo img{
					width: 250px;
					height: 100px;


	}


	.cabecalho{
				background: linear-gradient(360deg , #d24bde, #903bcb);
				border-radius: 5px;
				height: 110px;

	}

	.menu{
			padding: 5px;
			border-radius: 8px;
			text-transform: uppercase;
			
		
	}

	
	.menu a{
			display: block;
			padding: 10px;
			text-decoration: none;
			color: white;
			font-family: arial, serif;
			font-weight: bold;
			background-color: rgba(0,0,0,.1);
			border-radius: 4px;
			font-size: 15pt;
			transition: 1s;

	}

	.menu a:hover{
					background-color: rgba(0,0,0,.5);

	}

	}

	.barra-lateral {
					
					width: 300px;
					height: 200px;
					

	}

	.barra-lateral ul li{	list-style: none;
							margin-top: 10px;
	}

	.barra-lateral ul li img{

		border-radius: 5px;
		box-shadow: 5px 5px 10px black;
	}
	.barra-lateral h4{
						font-family: arial, serif;
						font-weight: bold;
						font-size: 16pt;
						text-align: center;
						background: black;
						color: white;
	}
	
	
	.sessao{
				background-color: #f0e9ed;
				border-radius: 10px;
				width: 1000px;
				box-shadow: 5px 5px 5px #afa7ac;



	}

	.sessao p {

			text-indent: 10px;
			text-align: justify;
			font-family: arial, serif;
			font-size: 13pt;
			color: black;
			margin-right: 20px;
			margin-left: 20px;
	}

 .sessao h1{
			font-family: arial, serif;
			font-size: 40pt;
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;

}



.imagem1 figure img{
			width: 900px;
			height:200px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}

.imagem1 figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}



.sessao-galeria-fotos{

					
					width: 500px;
					margin: auto;
					height: 600px;


}

h2{
	font-family: arial, serif;
	font-size: 50pt;
	font-weight: bold;
	color: black;
	text-align: center;
}

.estrutura-geral .sessao .nota{
		margin-top: 0px;
		margin-bottom: 0px;
		color: white;
		background-color: black;
		text-align: center;
		font-family: arial, serif;
		font-weight: bold;
}

 .formulario{

	background: linear-gradient(360deg, #b1a8a8, #c6c3c3);
	border-radius: 5px;
	width: 700px;
	height: 500px;
	box-shadow: 5px 5px 5px #c3bbc4;
	margin:auto;
	
}

   .formulario #idemail, #idnome{
   	margin-top: 30px;
	border-radius: 5px;
	width: 500px;
	height: 20px;
	font-family: arial, serif;
	font-weight: bold;
	


}

.formulario #idenviar, #idapagar{

	border-radius: 6px;
	background-color: black;
	margin: auto;
	color: white;
	font-size: 15pt;
	font-weight: bold;
	padding: 8px;

}

.formulario legend{

	font-family: arial, serif;
	font-size: 25pt;
	font-weight: bold;
}

.formulario textarea{
   	
	border-radius: 5px;
	
}
.formulario h3{
   	
	font-family: arial, serif;
	font-size: 20pt;
	font-weight: bold;
	
}
.formulario textarea:hover{
   	
	background-color: #b3b0b3;
	
}

.formulario input{
   	
	font-family: arial, serif;
	font-size: 15pt;
	font-weight: normal;
	
}

.formulario input:hover{
	background-color: #b3b0b3;
}

.formulario fieldset{
					margin: 25px;
}

.formulario p{

	font-size: 15pt;
	font-family: arial;
	font-weight: bold;

}

footer{
			background: linear-gradient(360deg , #d24bde, #903bcb);
			border-radius: 10px;
			text-align: center;
			font-family: arial, serif;
			font-size: 16pt;
			color: white;
			
}

footer ul{

	list-style: none;
}

footer ul li{
	margin-right: 15px;
}

footer ul li a{

	color: white;
	font-size: 20pt;
}

  .sessao .videos .video-mp4{

  	border: 2px solid black;
  	box-shadow: 5px 5px 10px #808080;
  	border-radius: 10px;
  }

  .sessao .videos .video-mp4:hover{
  					background-color: #474a51;
  					transition: .5s;

  	}





.imagem2 figure img{
			width: 900px;
			height:400px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}

.imagem2 figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}


.imagem3 figure img{
			width: 900px;
			height:400px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}
.imagem3 figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}


.marcacao{

			text-indent: 10px;
			text-align: justify;
			font-family: arial, serif;
			font-size: 13pt;
			color: black;
			margin-right: 20px;
			margin-left: 20px;
}


.subtitulo{

			text-indent: 10px;
			text-align: center;
			font-family: arial, serif;
			font-size: 13pt;
			color: black;
			margin-right: 20px;
			margin-left: 20px;
}


.imagemNOT figure img{
			width: 900px;
			height:400px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}
.imagemNOT figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}