	
	body{
			margin: 0px;
			padding: 0px;
			
	}

	div.logotipo img{
					width: 250px;
					height: 100px;


	}


	.cabecalho{
				background: linear-gradient(360deg , #d24bde, #903bcb);
				border-radius: 5px;
				height: 110px;

	}

	.menu{
			padding: 5px;
			border-radius: 8px;
			text-transform: uppercase;
			
		
	}

	
	.menu a{
			display: block;
			padding: 10px;
			text-decoration: none;
			color: white;
			font-family: arial, serif;
			font-weight: bold;
			background-color: rgba(0,0,0,.1);
			border-radius: 4px;
			font-size: 15pt;
			transition: 1s;

	}

	.menu a:hover{
					background-color: rgba(0,0,0,.5);

	}

	}

	.barra-lateral {
					
					width: 300px;
					height: 200px;
					

	}

	.barra-lateral ul li{	list-style: none;
							margin-top: 10px;
	}

	.barra-lateral ul li img{

		border-radius: 5px;
		box-shadow: 5px 5px 10px black;
	}
	.barra-lateral h4{
						font-family: arial, serif;
						font-weight: bold;
						font-size: 16pt;
						text-align: center;
						background: black;
						color: white;
	}
	
	
	.sessao{
				background-color: #f0e9ed;
				border-radius: 10px;
				width: 1000px;
				box-shadow: 5px 5px 5px #afa7ac;



	}

	.sessao p {

			text-indent: 10px;
			text-align: justify;
			font-family: arial, serif;
			font-size: 13pt;
			color: black;
			margin-right: 20px;
			margin-left: 20px;
	}

 .sessao h1{
			font-family: arial, serif;
			font-size: 40pt;
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;

}



.imagem1 figure img{
			width: 900px;
			height:200px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}

.imagem1 figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}



.sessao-galeria-fotos{

					
					width: 500px;
					margin: auto;
					height: 600px;


}

h2{
	font-family: arial, serif;
	font-size: 50pt;
	font-weight: bold;
	color: black;
	text-align: center;
}

.estrutura-geral .sessao .nota{
		margin-top: 0px;
		margin-bottom: 0px;
		color: white;
		background-color: black;
		text-align: center;
		font-family: arial, serif;
		font-weight: bold;
}

 

footer{
			background: linear-gradient(360deg , #d24bde, #903bcb);
			border-radius: 10px;
			text-align: center;
			font-family: arial, serif;
			font-size: 16pt;
			color: white;
			
}

footer ul{

	list-style: none;
}

footer ul li{
	margin-right: 15px;
}

footer ul li a{

	color: white;
	font-size: 20pt;
}

  .sessao .videos .video-mp4{

  	border: 2px solid black;
  	box-shadow: 5px 5px 10px #808080;
  	border-radius: 10px;
  }

  .sessao .videos .video-mp4:hover{
  					background-color: #474a51;
  					transition: .5s;

  	}





.imagem2 figure img{
			width: 900px;
			height:400px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}

.imagem2 figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}


.imagem3 figure img{
			width: 900px;
			height:400px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}
.imagem3 figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}


.marcacao{

			text-indent: 10px;
			text-align: justify;
			font-family: arial, serif;
			font-size: 13pt;
			color: black;
			margin-right: 20px;
			margin-left: 20px;
}


.subtitulo{

			text-indent: 10px;
			text-align: center;
			font-family: arial, serif;
			font-size: 13pt;
			color: black;
			margin-right: 20px;
			margin-left: 20px;
}


.imagemNOT figure img{
			width: 900px;
			height:400px;
			border-radius: 20px;
			box-shadow: 5px 5px 10px #524f4f;

}
.imagemNOT figcaption{

		text-align: center;
		color: black;
		font-family: arial, serif;
		font-weight: bold;

}

  .box2 {
	 background-image: url(../img/amazonia.jpg);
	 background-repeat: no-repeat;
	 background-image: cover;
	 background-size: 100%;
	 margin-top: -160px;

}

.box{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 150px;
		height: 600px;
		
	
}

.formulario{	
				margin-top: 200px;	
				height: 500px;


				


}

.formulario input#idnome{
					margin-top: 20px;
					height: 60px;
					border-radius: 15px;
					background: rgba(255, 255, 255, 0.5);
					box-shadow: 5px 5px 10px black;
					border: none;
					width: 800px;
					font-size: 30pt;
					font-family: serif;
					text-indent: 50px;

					
					
}

.formulario  input#idemail{
					
					height: 60px;
					border-radius: 15px;
					background: rgba(255, 255, 255, 0.5);
					box-shadow: 5px 5px 10px black;
					border: none;
					width: 800px;
					font-size: 30pt;
					font-family: serif;
					text-indent: 50px;

}

.formulario input#idnome, input#idemail{
					font-weight: bolder;

					
}




#idenviar{

	border-radius: 8px;
	width: 300px;
	height: 60px;
	background: #ff0080;
	border: none;
	box-shadow: 5px 5px 10px black;
}

.formulario label{

	font-size: 30pt;
	color: white;
	font-weight: bolder;
	margin-right: 5px;
	border: black;
}

 #idenviar {
				font-size: 30pt;
				color: white;
				font-weight: border;
				margin-left: 250px;
				margin-top: 20px;
				font-family: arial, sans serif;
			
				

	}

	#login {
			color: white;
			font-weight: bolder;
			font-size: 25pt;
			font-family: serif;
			margin-left: 200px; 
			
	}

#login a{
			color: white;
			font-weight: bolder;
			font-size: 25pt;
			font-family: serif;
			text-decoration: none;



	}


	.conteiner{
				height: 800px;


	}


	.formulario2{

					width: 450px;
					height: 500px;
					margin: auto;
					margin-top: 60px;
					margin-bottom: 220px;


	}

	.formulario2 fieldset#base {
							border-radius: 0px 80px 0px 80px ;
							box-shadow: 5px 5px 30px black;
							background: #4e4e4e;
							padding: 20px;

	}

	.formulario2 #idnome, #idemail1, #idmoradia{

					width: 300px;
					height: 30px;
					border-radius: 8px;
					background: rgba(255, 255, 255, 0.8);
					color: white;
	}

		.formulario2 p{

					color:white;
					font-weight: bolder;
					font-size: 15pt;
		}

	#idmsg{
			width: 300px;
			height: 100px;
			background: rgba(255, 255, 255, 0.8);
			color: white;
			border-radius: 8px;

	}

		.formulario2 #ididade{
			
							border-radius: 4px;

						}


.formulario #idmasculino{
	margin-left: 30px;
}



.formulario2 legend{
	font-weight: border;
	font-size: 18pt;
	font-family: serif;
	color: white;
}

.formulario2 #idsexo{
					width: 200px;
					margin: auto;
					padding: 10px;
					color: white;


}

.formulario2 h3{
				color: white;
				font-size: 15pt;
				font-weight: border;
}

.formulario2 #ididade{
				color: white;
				font-size: 14pt;
				background: rgba(255, 255, 255, 0.8);
}


	
.formulario2 #idformulario2, #idformulario22{

	color: white;
	background: black;
	border-radius: 5px;
	padding: 5px;
	font-size: 15pt;
	border: none;

	}
.formulario2 #idformulario2{


	margin-left: 90px;
}

body#corpo-fomulario {

	background-image: url(../img/fundo-contato.jpg);
	background-position: cover;
}