.cabecalho{
					display: flex;
					justify-content: space-between;
					align-items: center;

}

.menu{
			display: flex;

}

.sessao.sessao-galeria-fotos{ display: flex;
						
					
											
}

footer{
			display: flex;
			flex-direction: column;
			align-items: center;
}

footer ul{

	display: flex;

}
